body {
  background:url(index.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.hero {
  color:#fff;
  margin-top: 20%;
  text-align:right;
  font-size: 85px;
  letter-spacing: -.05em;
  line-height:1.2em;
  font-family: 'Revalia', cursive;
}
